/* 
    Document   : Menu
    Created on : 29.okt.2013, 09:19:22
    Author     : Stian
    Description:
    Purpose of the stylesheet follows.
*/

.root { 
    -fx-background-color: #878787;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.button {
    -fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(74,91,108,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Tahoma";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 15px;
    /*-fx-padding: 10 20 10 20;*/
}

.button:hover {
    -fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
}

.button:pressed{
    -fx-background-color:#090a0c;
}
